@model VehicleManagement.Service.ViewModels.VehicleMakeViewModel

<h1>Vehicle Make Details</h1>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Abbreviation: @Model.Abrv</h4>
</div>

<a asp-controller="VehicleMake" asp-action="Index">Back to List</a>
